#homepage{
    position: relative;
    height:100vh;
    // background-image: url("../public/images/bg.png")
    h1{
        position:absolute;
        top:50%;
        width:100%;
        text-align: center;

    }
}
